/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #4d4d4d;
    min-height: 100vh;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
    box-sizing: border-box;
}

._1WLNA7ZB{width:100%;min-height:100vh}._2re-YS_e{width:100%;min-height:100vh;display:flex;flex-direction:column;align-items:center;justify-content:center;padding:30px 0}._2re-YS_e:not(:only-child){display:none}._265ioSpK{font-size:60px;margin-bottom:40px;color:#29b6f6}@media screen and (orientation: portrait){._265ioSpK{font-size:40px}}._1GMCl1pi{display:flex}@media screen and (orientation: portrait){._1GMCl1pi{flex-direction:column}}@media screen and (orientation: landscape){._1GMCl1pi{padding-bottom:100px}}._3aEVeAik{width:200px;height:200px;display:flex;align-items:center;justify-content:center;margin:20px;border:0;outline:none;border-radius:20px;box-shadow:0 2px 4px 0 rgba(0,0,0,.2),0 25px 50px 0 rgba(0,0,0,.1);color:#fff;font-family:inherit;font-size:30px;font-weight:300;display:flex;align-items:center;justify-content:center;text-decoration:none;cursor:pointer}@media screen and (orientation: portrait){._3aEVeAik{width:250px;height:150px}}._3aEVeAik.Q6j18cdg{background-color:#1e88e5}._3aEVeAik._237IBUog{background-color:#f44336}._3aEVeAik._121dzxF0{background-color:#4caf50}._3aEVeAik._277N_YlK{background-color:#ff9800}._3aEVeAik._3_Q9fCmc{background-color:#0097a7}
._1Y95ZLfi{display:flex;align-items:flex-start;justify-content:center;padding:100px 20px;font-weight:100}._1DMbk2Oj{width:100%;max-width:500px}._2errapjS{font-size:100px;text-align:center;color:#29b6f6;user-select:none}.Gnx1OlR4{background-color:#fff;box-shadow:0 2px 4px 0 rgba(0,0,0,.2),0 25px 50px 0 rgba(0,0,0,.1)}._3uSxCII-{font-size:inherit}._1zCWGcAB{width:100%;height:70px;font-size:24px;padding:20px;margin:0;border:none;outline:none;font-family:inherit;font-weight:inherit;border-bottom:1px solid #e5e5e5;-webkit-font-smoothing:antialiased}._1zCWGcAB ::placeholder{font-style:italic;color:#adadad}
._2jLJ3PDd{user-select:none}._1GT6gyG9{min-height:50px;padding:10px;display:flex;align-items:center}@media(max-width: 500px){._1GT6gyG9{flex-wrap:wrap}}.QDkCUabI{font-size:12px;font-weight:300;color:#e0e0e0;text-align:center;padding:5px 0}.Im5IONv9{flex:1 0 100px;margin-top:2px;visibility:hidden}.Im5IONv9.P9umgdXu{visibility:visible}._2UAtm0tr{flex:1 0 100px;text-align:right;margin-top:2px;visibility:hidden;transition:color .1s ease}._2UAtm0tr:hover{color:#0288d1;cursor:pointer}._2UAtm0tr.P9umgdXu{visibility:visible}._30ZKaQaf{flex:1;display:flex;align-items:center;justify-content:center}@media(max-width: 500px){._30ZKaQaf{order:1;flex:0 0 100%;margin-top:10px}}._1zcrYCj7{cursor:pointer;font-size:16px;padding:2px 7px;border-radius:3px;border-width:1px;border-style:solid;border-color:rgba(0,0,0,0)}._1zcrYCj7:hover{border-color:#4fc3f7}._1zcrYCj7:not(:last-child){margin-right:20px}._1zcrYCj7._3Z4-m7Zv{border-color:#29b6f6}
._3ICCscYF{height:70px;display:flex}._3ICCscYF:not(:last-child){border-bottom:1px solid #f5f5f5}._3ICCscYF:hover ._1xVnT63Y{opacity:1}._1MM1xSZj{flex:1;display:flex;align-items:center;font-size:24px;user-select:none;transition:color .3s ease}._1MM1xSZj._3RKNoGwZ{color:#d0d0d0}._1sA20dr9{border:none;background:none;outline:none;padding:0;width:70px;display:flex;align-items:center;justify-content:center;cursor:pointer;transition:fill .3s ease;fill:#e0e0e0}._1sA20dr9._3RKNoGwZ{fill:#4fc3f7}._1xVnT63Y{border:none;background:none;outline:none;padding:0;width:70px;display:flex;align-items:center;justify-content:center;cursor:pointer;fill:#e0e0e0;opacity:0;transition:opacity .3s ease}._1xVnT63Y:hover{fill:#4fc3f7}._1q2AdYFw{flex:1;font-size:24px;padding:0;margin:0;border:none;outline:none;font-family:inherit;font-weight:inherit;color:#000}
._3p47y2KN{margin-top:10vmin;width:80vmin;height:80vmin;position:relative;margin:auto;will-change:transform}._1GcMLqG3{width:100%;height:100%;display:flex;flex-wrap:wrap;justify-content:center;position:relative;pointer-events:none}._1GcMLqG3>div{width:50%;height:50%;margin-top:5%}._1GcMLqG3>div:nth-child(1){margin-left:25%;margin-right:25%;top:-4%}._1GcMLqG3>div:nth-child(2){top:-9.5%;left:-2.5%}._1GcMLqG3>div:nth-child(3){top:-9.5%;right:-2.5%}._3kXkJhuq{border-radius:50%;font-size:9px;background-color:#00acc1;color:#fff;display:flex;cursor:pointer;pointer-events:all;user-select:none;align-items:center;justify-content:center;position:relative}._3kXkJhuq._3ljC4-kb{background-color:#e53935}
._14XU_7bs{width:100%;min-height:100vh;display:grid;grid-template-columns:1fr minmax(min-content, 230px) minmax(min-content, 660px) minmax(min-content, 230px) 1fr;grid-template-rows:90px 50px 1fr;grid-column-gap:30px}._1OMHGj95{color:#039be5;font-weight:300;font-size:34px;grid-column:2/3;grid-row:1/2;display:flex;align-items:center;padding-left:40px}._3K4NXQOI{font-size:23px;font-weight:500;color:#363636;grid-column:3/4;grid-row:2/3}
._3r3UaF3k{padding-left:40px;grid-column:4/5;grid-row:3/4}._2Npexa9G{font-size:23px;font-weight:500;color:#363636}
._2e0wx9ZY{animation-name:_2QAJtSr5;animation-fill-mode:forwards;animation-iteration-count:infinite;animation-timing-function:linear;animation-duration:3s;background-image:linear-gradient(to right, transparent 0, transparent 40%, rgba(255, 255, 255, 0.2) 50%, transparent 60%, transparent 100%);background-color:#e0e0e0;background-size:300% 100%}@keyframes _2QAJtSr5{0%{background-position-x:0%}100%{background-position-x:-200%}}
._1m8wvThi{display:grid;grid-template-columns:50px 1fr;grid-template-rows:25px 25px;grid-column-gap:20px;margin-top:30px}._3kST1i05{width:100%;grid-column:1/2;grid-row:1/3;border-radius:50%}._1GTrL6YR{grid-column:2/3;grid-row:1/2;font-weight:500;padding-top:7px}._3cgvXuL-{grid-column:2/3;grid-row:2/3;font-size:12px;padding-top:4px}.a6TKOGys{width:auto;height:auto;grid-column:1/2;grid-row:1/3;background-color:#a5a5a5;border-radius:50%}
.KzSGDK4Q{grid-column:3/4;grid-row:3/4;display:grid;gap:30px;grid-template-columns:repeat(auto-fill, 200px);grid-template-rows:repeat(auto-fill, 250px);grid-auto-columns:200px;grid-auto-rows:250px}
._2n4qWi2s{width:auto}._2TT1QLfz{width:100%;flex:1;border-radius:10px;box-shadow:0 2px 4px 0 rgba(0,0,0,.2),0 25px 50px 0 rgba(0,0,0,.1)}.R5-CfRxC{width:auto;height:auto;flex:1;padding-top:100%;background-color:#a5a5a5;box-shadow:0 2px 4px 0 rgba(0,0,0,.2),0 25px 50px 0 rgba(0,0,0,.1)}._1MYgAYCk{flex:0 0 50px;font-size:16px;padding-top:20px;font-weight:400;color:#363636}
.WOtmHg1E{width:26px;height:26px;margin:-3px;background-color:#a5a5a5;border-radius:50%}.Y5lbNIlp{font-weight:300;grid-column:2/3;grid-row:3/4;padding-left:40px}._3OsoFZmA{display:flex;align-items:center;height:20px;margin-bottom:30px}._1Zy-dg0f{width:20px;height:20px;fill:#b0bec5}.wt2bVYr-{margin-left:25px;color:#363636;font-weight:300;font-size:16px;flex:1}
._3uGeDDLg{display:flex;align-items:center;height:20px;margin-bottom:30px}.I04USiDm{width:20px;height:20px;fill:#b0bec5}.OUpEwGO5{width:26px;height:26px;margin:-3px;background-color:#a5a5a5;border-radius:50%}._2029lXHM{margin-left:25px;color:#363636;font-weight:300;font-size:16px;flex:1}

/*# sourceMappingURL=main.css.map*/